.map-container {
  height: 30%;
  width: 100%;

  .angular-leaflet-map {
    height: 100%;
    width: 100%;
  }
}

.main-container {
  nav {
    a {
      float: right;
    }
  }
}

body {
  height: 100%;
  width: 100%;
}

@include breakpoint(medium) {

  body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
  }

  .main-container {
    order: 1;
    flex: 0 0 40%;
    max-width: 30rem;
    min-width: 25rem;
    overflow-y: auto;
    
    nav {
      .badge, a {
        position: absolute;
      }

      a {
        right: 1rem;
      }
    }
    
    header {
      margin-top: 2.5rem;
    }
    
  }

  .map-container {
    order: 2;
    height: 100%;
  }

}
