@import "settings";
@import "foundation";

.button {
  font-weight: bold;
}

nav {
  button {
    top: 0;
    right: 0;
  }
}

.angular-leaflet-map {

  height: 100%;
  width: 100%;

  .leaflet-control-attribution {
    display: none;
  }

  .leaflet-marker-icon span {
    font-weight: bold;
  }

  .badge {
    font-weight: bold;
    font-size: $badge-fontsize*1.5;
    height: $badge-diameter*1.2;
    width: $badge-diameter*1.2;
  }
}

.block-list {
  font-weight: bold;

  .badge {
    margin-right: 0.5rem;
    height: $badge-diameter*1.2;
    width: $badge-diameter*1.2;
    line-height: $badge-diameter*1.2;
  }
}

main {
  header {
    h1, button {
      display: inline-block;
    }

    h1 {
      margin-right: 1rem;
    }
  }
}

.content {
  img {
    width: 100%;
  }
}

.partners {
  margin-top: 2rem;

  h2 {
    font-size: $h4-font-size;
  }

  ul {
    margin: -1rem -1rem 0 -1rem;
    list-style: none;
    li {
      display:inline-block;
      padding: 1rem;
      max-width: 50%;

      img {
        width: 100px;
        max-width: 100%;
      }
    }

  }
}

.status {
  padding: 3rem;
  padding-top: 2rem;

  table {
    margin: 0 -0.5rem;
  }

  td, th {
    text-align: left;
    padding: 0.5rem;
  }

  tr:nth-child(even) {
    background: #EEE;
  }

  th {
    font-size: 1.2rem;
  }

  td.section-row {
    padding-top: 1rem;
    font-weight: bold;
    background: white;
  }
}


// Layout

.map {
  height: 300px;
  width: 100%;
}

.main {
  margin: 1rem;
  position: relative;

  nav {
    position: absolute;
    top: 0;
    right: 0;
  }
}
