@import "settings";
@import "foundation";

.button {
  font-weight: bold;
}

.grid-frame {

  .player {
    height: 3.3rem;
    max-height: 3.3rem;
    min-height: 3.3rem;
    background: lightgray;
    align-items: center;
  }

  .grid-content {
    >header {
      margin: 2rem 0;
    }
  }

  >.grid-block {

    &:first-child {
      min-height: 70%;
      padding: 0;
    }

    &:last-child {
      min-height: 30%;
    }

  }

  .angular-leaflet-map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.angular-leaflet-map {
  .leaflet-control-attribution {
    display: none;
  }

  .leaflet-marker-icon span {
    font-weight: bold;
  }

  .badge {
    font-weight: bold;
    font-size: $badge-fontsize*1.5;
    height: $badge-diameter*1.2;
    width: $badge-diameter*1.2;
  }
}

.block-list {
  font-weight: bold;

  .badge {
    margin-right: 0.5rem;
    height: $badge-diameter*1.2;
    width: $badge-diameter*1.2;
    line-height: $badge-diameter*1.2;
  }
}

.player {
  button.badge {
    height: $badge-diameter*1.5;
    width: $badge-diameter*1.5;
    line-height: $badge-diameter*1.2;

    border: 2px solid buttonface;

    i.fa-play {
      margin-left: 0.2rem;
    }

    i.fa-play {
      margin-left: 0.1rem;
    }
  }
}

.content {
  img {
    width: 100%;
  }
}

.partners {
  margin-top: 2rem;

  h2 {
    font-size: $h4-font-size;
  }

  ul {
    margin: -1rem -1rem 0 -1rem;
    list-style: none;
    li {
      display:inline-block;
      padding: 1rem;
      max-width: 50%;

      img {
        width: 100px;
        max-width: 100%;
      }
    }

  }
}
