@import "settings";
@import "foundation";

.button {
  font-weight: bold;
}

.grid-frame {

  >.grid-block {

    position: relative;

    &:first-child {
      min-height: 30%;
      padding: 0;
    }

    &:last-child {
      min-height: 70%;
    }

    >nav, >header {
      padding: 1rem;
    }
  }

  .angular-leaflet-map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.angular-leaflet-map {
  .leaflet-control-attribution {
    display: none;
  }

  .leaflet-marker-icon span {
    font-weight: bold;
  }

  .badge {
    font-weight: bold;
    font-size: $badge-fontsize*1.5;
    height: $badge-diameter*1.2;
    width: $badge-diameter*1.2;
  }
}

.block-list {
  font-weight: bold;

  .badge {
    margin-right: 0.5rem;
    height: $badge-diameter*1.2;
    width: $badge-diameter*1.2;
    line-height: $badge-diameter*1.2;
  }
}

.partners {
  ul {
    margin: 0 -1rem;
    list-style: none;
    li {
      display:inline-block;
      padding: 0 1rem;
      max-width: 50%;

      img {
        width: 150px;
        max-width: 100%;
      }
    }

  }
}
