---
name: home
url: /
controller: HomeController
---

<header>
  <h1 ng-bind="tour.title"></h1>
  <div ng-if="tour.lead" class="content" marked="tour.lead"></div>
  <div ng-if="!tour.lead" marked ng-include="'/site/markdown/preface.md'" class="content" />
</header>

<section class="block-list">
  <div ng-repeat="section in tour.sections" class="tour-section-{{ $index }}">
    <header ng-bind="section.title"></header>
    <ul>
      <li ng-repeat="sight in section.sights" class="with-chevron">
        <a ng-click="goToSight(sight.slug)">
          <span class="badge" ng-bind="sight.id"></span>
          <span ng-bind="sight.title"></span>
          <button class="small button" ng-class="{'pause':isPlaying(sight.slug)}" ng-click="playPause(sight.slug); $event.stopPropagation()">
            <i class="fa" ng-class="{'fa-play':!isPlaying(sight.slug), 'fa-pause':isPlaying(sight.slug)}"></i>
          </button>
        </a>
      </li>
    </ul>
  </div>
</section>

<section marked ng-include="'/site/markdown/epilogue.md'" class="epilogue" />
