---
name: home
url: /
---

<div class="title-bar">
  <div class="center title">Gatekunst på Tøyen</div>
</div>
<section class="grid-content block-list">
  <header>Veggmaleri</header>
  <ul>
    <li class="with-chevron"><a ui-sref="sight"><span class="badge">1</span> Veggmaleri 1</a></li>
    <li class="with-chevron"><a ui-sref="sight"><span class="badge">2</span> Veggmaleri 2</a></li>
    <li class="with-chevron"><a ui-sref="sight"><span class="badge">3</span> Veggmaleri 3</a></li>
    <li class="with-chevron"><a ui-sref="sight"><span class="badge">4</span> Veggmaleri 4</a></li>
  </ul>
  <header>Annet</header>
  <ul>
    <li class="with-chevron"><a ui-sref="sight"><span class="badge">5</span> Blomsterkasser</a></li>
    <li class="with-chevron"><a ui-sref="sight"><span class="badge">6</span> Noe helt annet</a></li>
  </ul>
</section>
