---
name: home
url: /
controller: HomeController
---

<header>
  <h3 ng-bind="tour.title"></h3>
<!--  <div ng-bind-html="tour.description"></div>-->
</header>

<section class="grid-content block-list">
  <div ng-repeat="section in tour.sections" class="tour-section-{{ $index }}">
    <header ng-bind="section.title"></header>
    <ul>
      <li ng-repeat="sight in section.sights" class="with-chevron">
        <a ui-sref="sight({ slug: sight.slug })">
          <span class="badge" style="background-color: {{section.color}}" ng-bind="$index+1"></span>
          <span ng-bind="sight.title"></span>
        </a>
      </li>
    </ul>
  </div>
</section>
