---
name: sight
url: /sight/:slug
controller: SightController
---
<nav>
  <a ui-sref="home"><i class="fa fa-times"></i></a>
</nav>

<header>
  <h1 ng-bind="sight.title"></h1>
  <button class="button" ng-click="playPause()">
    <i class="fa" ng-class="{'fa-play':isPaused, 'fa-pause':!isPaused}"></i>
  </button>
  <p ng-bind="sight.lead"></p>
</header>

<section ng-if="sight.content" class="content">
<p ng-repeat="part in sight.content">
  <span ng-if="part.type == 'text'" ng-bind="part.text"></span>
  <img ng-if="part.type== 'image'" ng-src="/site/img/{{part.src}}"/>
</p>
</section>
